
<!-- NGSWITCH -->
<h1> ngSwitch</h1>

<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
    <p *ngSwitchCase = "'nicolas'">
        La persona es Nicolas
    </p>
    
    <p *ngSwitchCase = "'julian'">
        La persona es Julian
    </p>
    
    <p *ngSwitchCase = "'camilo'">
        La persona es Camilo
    </p>
    <p *ngSwitchDefault> No hace match </p>
</div>

<hr/>


<!-- *NGFOR OBJECTS-->
<h1> *ngFor Objects </h1>

<div class="products--grid">
    <div *ngFor="let product of products">
        <img [src]="product.image" alt="image">
        <h2> {{ product.price }} </h2>
        <p> {{product.name}} </p>
    </div>
</div>

<hr/>


<!-- *NGFOR-->
<h1> *ngFor </h1>

<input type="text" required [(ngModel)]="newName">
<button (click)="addName()"> Add name </button>
<ul>
    <li *ngIf="names.length === 0"> No hay nombres </li>
    <li *ngFor="let name of names; index as i">
        {{ i }} {{ name }}
        <button (click)="deleteName(i)"> Delete </button>
    </li>
</ul>

<hr/>


<!-- *NGIF-->
<h1> ngIf </h1>

<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'Laura'"> Soy Laura </p>
<p *ngIf="person.name === 'Nicolas' && person.age === 18; else elseBlock"> Soy Nicolas </p>

<!-- Condicional else -->
<ng-template #elseBlock>
    <p> Bloque de else </p>
</ng-template>

<hr/>


<!-- NGMODEl -->
<h1> ngMode </h1>

<p> Nombre: {{ person.name }}</p>
<input type="text" required #nameInput = "ngModel" [(ngModel)]="person.name">
<p> valid: {{ nameInput.valid }} </p>

<p> Edad: {{ person.age }}</p>
<input type="number" max="18" min="10" required #ageInput = "ngModel" [(ngModel)]="person.age">
<p> valid: {{ ageInput.valid }} </p>

<hr/>


<!-- EVENTOS -->
<h1> Eventos </h1>

<button [disabled]="btnDisabled"> Enviar </button> <!-- Boton inactivo -->
<button (click)="toggleButton()"> Toggle Button </button> <!-- Llamado al metodo -->
<p> Edad {{ person.age }} </p>
<button (click)="increaseAge()"> Age ++ </button> <!-- Llamado al metodo -->
<div class="box" (scroll)="onScroll($event)"> <!-- Captura evento -->
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis numquam 
        nesciunt enim non laboriosam, molestias ad asperiores, tempore et possimus 
        quas quidem voluptate in eligendi eaque? Quis eaque vitae quasi? 
    </p>
</div>
<p> Nombre: {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">

<hr/>


<!-- PROPERTY BINDING -->
<h1> Propiedades </h1>

<button [disabled]="btnDisabled"> Enviar </button> <!-- Boton inactivo -->
<input type="text" [value]="person.name"> <!-- Llamando al objeto -->
<progress max="100" [value]="person.age"></progress> <!-- Llamando al objeto -->
<img width="100" [src]="img">

<hr/>


<!-- STRINS INTERPOLATIONS -->
<h1>Hola mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src={{img}} alt="image">
